<form class="form-horizontal" name="import" role="form" novalidate="novalidate">
    <div class="modal-header">
        <h5>更改请求路径</h5>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">当前路径：</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{url}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">更改为：</label>
            <div class="col-sm-8">
                <input name="newUrl" can-add="data" ng-model="newUrl" class="form-control" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4 text-danger"  ng-if="import.newUrl.$error.isOK" >
                接口必须以/开始且.json结尾
            </div>
            <div class="col-sm-8 col-sm-offset-4 text-danger"  ng-if="import.newUrl.$error.isOnly" >
                接口已经存在
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="change(newUrl)" ng-disabled="import.$invalid" class="btn btn-primary">更改</button>
    </div>
</form>