<div class="modal-header">
    <form novalidate="novalidate" name="form" role="form" class="navbar-form">

        <div class="input-group">
            <input type="text" ng-required="true" name="url" ng-model="data.url" can-add="data"
                   typeahead="i for i in data.path | filter:$viewValue"
                   placeholder="将要录制接口的访问url,接口必须以/开始且.json结尾(以后会支持多种格式)" class="form-control"/>
            <span class="input-group-btn">
                <button ng-disabled="form.$invalid" ng-click="record()" class="btn btn-default btn-success">录制</button>
            </span>
        </div>
        <p ng-if="form.url.$error.isOK" class="text-danger" style=" margin-top: 10px; ">
            接口必须以/开始且.json结尾</p>

        <p ng-if="form.url.$error.isOnly" class="text-danger" style=" margin-top: 10px; ">接口已经存在</p>
    </form>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>请求url</label>

        <p class="help-block" ng-bind="data.interfaceUrl"></p>
    </div>
    <div class="form-group">
        <label>请求类型</label>

        <p class="help-block" ng-bind="data.interfaceType"></p>
    </div>

    <label>请求参数</label>

    <ul>
        <li ng-repeat="i in data.requiredParameters">
            <strong ng-bind="i.key"></strong>
            <span>:</span>
            <span class="text-muted" ng-bind="i.value"></span>
        </li>
    </ul>

    <label>返回结果</label>

    <div class="well well-sm" json-format="data.responseParameters" style="margin-bottom: 0;">
    </div>

</div>
