doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/angular-ui/build/angular-ui.css')
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="/bower_components/angular-ui/build/angular-ui.js")
    script(src="/bower_components/mockjs/dist/mock.js")
    script(src="/bower_components/json/json2.js")

    script(src="/javascripts/directive.js")
    script(src="/javascripts/filter.js")
  body
    block content
