doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='/stylesheets/util/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/util/angular-ui.css')


    script(src="/javascripts/util/jquery.js")
    script(src="/javascripts/util/angular.js")
    script(src="/javascripts/util/ui-bootstrap-tpls.js")
    script(src="/javascripts/util/angular-ui.js")
    script(src="/javascripts/util/mock.js")
    script(src="/javascripts/util/json2.js")

    script(src="/javascripts/directive.js")
    script(src="/javascripts/filter.js")
  body(style="padding:10px;")
    block content
