body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tableList input{
    height: 100%;
    width: 100%;
    border-color: #ffffff;
    border-radius: 0;
}
.tableList td{
    padding: 0 !important;
}
 textarea{
    resize: none;
}
.json-panel {
    font-weight: 500;
}

.json-panel .key{
    color: #97089C;
}

.json-panel .string{
    color: #129C22;
}

.json-panel .number{
    color: #003BF7;
}

.json-panel .boolean{
    color: #0A0A80;
}

.remove-hide .glyphicon-minus{
    display: none;
}

.remove-hide select{
    display: none;
}

.remove-hide .disabled-select{
   display: block !important;
}
