<div>
    <div ng-if="suc" class="alert alert-success">
        <button type="button" ng-click="suc=false" class="close">&times;</button><span>操作成功</span>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-info">
                <div class="panel-heading clearfix">
                    <h6 class="panel-title pull-left">接口列表</h6>
                    <a ng-click="clean()" tooltip-placement="bottom" tooltip="如果你的接口文档报错，可能是因为你升级了mock2easy，你可以点击此处帮你重新整理你的接口文档" class="btn btn-default btn-sm btn-xs pull-right"><span class="glyphicon glyphicon-cog"></span></a>
                </div>
                <div class="panel-body">
                    <div style=" position: relative; " class="form-group has-feedback">
                        <input type="text" ng-model="jsonPath" placeholder="输入内容筛选接口" class="form-control"/><span style=" top: 0; " class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                    <div style="border-bottom: 2px solid #eee; " class="row">
                        <div class="col-md-8">
                            <h5>PATH</h5>
                        </div>
                        <div class="col-md-2">
                            <h5>延时<span tooltip="模拟极端环境中，接口调用缓慢的情况" style="margin-left: 2px;" class="glyphicon glyphicon-question-sign text-muted"></span></h5>
                        </div>
                        <div class="col-md-2">
                            <h5>操作
                                <div style=" max-height: 400px; overflow-y: auto; " class="row"></div>
                            </h5>
                        </div>
                        <div class="col-md-12">
                            <div ng-repeat="i in data | filter: jsonPath " style="padding:10px 0;border-bottom: 1px solid #eee;" class="row">
                                <div class="col-md-8"><a ng-bind="i.url|database" ui-sref="detail({url:i.urlFilter})" tooltip="{{i.note}}" tooltip-placement="right" class="text-error"></a></div>
                                <div class="col-md-2">
                                    <button ng-if="!i.lazyLoad" class="btn btn-default btn-xs"><span tooltip="获取接口无延时" ng-click="changeLazy($index)" tooltip-placement="right" class="text-success glyphicon glyphicon-play"></span></button>
                                    <button ng-if="i.lazyLoad" class="btn btn-warning btn-xs"><span tooltip="获取接口有 3s 延时" ng-click="changeLazy($index)" tooltip-placement="right" class="glyphicon glyphicon-pause"></span></button>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-default btn-xs">
                                        <span ng-click="del($index)" style="cursor:pointer;" tooltip="删除" class="text-danger glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="panel panel-info clearfix">
                <div class="panel-heading">
                    <h6 class="panel-title">添加新接口
                        <span tooltip-placement="bottom" tooltip="接口路径不能重复，输入的接口必须为/开始且.json结尾(以后会支持多种格式)" class="glyphicon glyphicon-question-sign"></span>
                    </h6>
                </div>
                <div class="panel-body">
                    <form novalidate="novalidate" name="form" role="form" class="navbar-form">
                        <div class="input-group">
                            <input type="text" ng-required="true" ng-pattern="/^[/].*$/" name="url" ng-model="url" placeholder="接口必须以／开始且.json结尾(以后会支持多种格式)" class="form-control"/><span class="input-group-btn">
                <button ng-disabled="form.$invalid" ng-click="add()" class="btn btn-default btn-success">添加</button></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-danger clearfix">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        错误日志
                        <span tooltip=" 验证代码请求和接口文档之间的差异：蓝色代表请求方式不正确，eg. POST 用成了 GET。黄色代表你的代码有更新，你的接口文档没有及时更新，请及时更新你的接口文档。 红色表示你的代码发出请求的时候，参数不满足当时的接口文档的约定。" style="margin-left: 2px;" class="glyphicon glyphicon-question-sign text-muted"></span>
                    </h6>
                </div>
                <div class="panel-body">
                    <accordion close-others="true">
                        <accordion-group ng-repeat="i in log">
                            <accordion-heading>
                                {{i.url}}
                                <a class="btn btn-default btn-xs pull-right" ui-sref="detail({url:i.urlFilter})"><span class="glyphicon glyphicon-edit text-info" ng-class="{'text-warning':i.docError.length,'text-danger':i.reqError.length}"></span></a>
                            </accordion-heading>

                            <p ng-if="i.methodError" class="text-info">{{i.methodError}}</p>
                            <div ng-if="i.reqError.length">
                                <p class="text-danger" ng-repeat="ii in i.reqError">{{ii}}</p>
                            </div>
                            <div ng-if="i.docError.length">
                                <p class="text-warning" ng-repeat="ii in i.docError">{{ii}}</p>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </div>
</div>